* {
font-family: "Inter", sans-serif!important;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

#inicio {
    padding: 128px 20px;
    gap: 32px;
}

#quemsomos {
    padding: 80px 20px;
    gap: 32px;
}

#oquefazemos {
    padding: 96px 20px;
    gap: 32px;
}

#paraqueme {
    padding: 80px 20px;
    gap: 32px;
}

#comofunciona {
    padding: 96px 20px;
    gap: 32px;

}